/* Google Web Fonts */
@import url('https://fonts.googleapis.com/css?family=Calligraffitti');

#home-nav {
    position: absolute;
    left: 15%;
    top: 65%;
    font-family: 'Calligraffitti', cursive;
    font-size: 25px;
}

#home-name {
    font-size: 70px;
    margin-right: 50px;
}

.main-nav {
    font-family: 'Calligraffitti', cursive;
}

.main-name {
    font-size: 30px;
    margin-right: 50px;
}

/* .navbar-toggler {
    color: blue;
} */