/* Google Web Fonts */
@import url('https://fonts.googleapis.com/css?family=Calligraffitti');

#home-nav {
    font-family: 'Calligraffitti', cursive;
    font-size: 24px;
}

/* #home-name {
    font-size: 70px;
    margin-right: 50px;
} */

.main-name {
    font-size: 30px;
    margin-right: 50px;
}

.main-nav {
    font-family: 'Calligraffitti', cursive;
}

svg {
    display: block;
    margin: auto;
}

#collision {
    position: absolute;
    top: 0;
    z-index: -1;
}

/* .navbar-toggler {
    color: blue;
} */